.registro-incidencias {
  max-width: 900px; /* Aumentado ligeramente para dar más espacio */
  margin: 0 auto;
  padding: 1rem;
}

.form-field {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.form-field label {
  min-width: 250px; /* Aumentado para dar más espacio a las etiquetas */
  margin-right: 1rem;
  text-align: right;
  flex-shrink: 0; /* Evita que la etiqueta se encoja */
}

.form-field .input-container {
  flex: 1;
  min-width: 60%; /* Asegura que los inputs ocupen al menos el 60% del espacio disponible */
}

.form-field ::ng-deep .p-dropdown,
.form-field ::ng-deep .p-calendar,
.form-field ::ng-deep .p-inputnumber,
.form-field ::ng-deep .p-inputtext {
  width: 100%;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}

.button-container .p-button-sm {
  min-width: 120px;
}

@media screen and (max-width: 768px) {
  .form-field {
    flex-direction: column;
    align-items: flex-start;
  }

  .form-field label {
    min-width: auto;
    margin-right: 0;
    margin-bottom: 0.5rem;
    text-align: left;
  }

  .form-field .input-container {
    width: 100%;
  }

  .button-container {
    flex-direction: column;
    gap: 1rem;
  }

  .button-container .p-button-sm {
    width: 100%;
  }
}


.input-wrapper {
  width: 100%;
}

.input-wrapper ::ng-deep .p-dropdown,
.input-wrapper ::ng-deep .p-calendar {
  width: 100% !important;
}

.input-wrapper ::ng-deep .p-calendar .p-inputtext {
  width: 100% !important;
}

@media screen and (min-width: 768px) {
  .input-wrapper {
    max-width: 75%;
  }
}

.form-button-container {
  margin-top: 1rem;
}

.button-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.button-wrapper .p-button-sm {
  font-size: 0.875rem;
  padding: 0.4rem 0.8rem;
}

@media screen and (max-width: 768px) {
  .button-wrapper {
    flex-direction: column;
    gap: 0.5rem;
  }

  .button-wrapper .p-button-sm {
    width: 100%;
  }
}


.button-container {
  display: flex;
  justify-content: center;
  gap: 10rem; /* Ajusta este valor para aumentar o disminuir la separación entre botones */
  max-width: 500px; /* Ajusta este valor según tus preferencias */
  margin: 1rem auto;
}

.button-container .p-button-sm {
  font-size: 0.875rem;
  padding: 0.4rem 0.8rem;
  min-width: 120px; /* Asegura un ancho mínimo para los botones */
}

@media screen and (max-width: 450px) {
  .button-container {
    flex-direction: column;
    gap: 1rem;
  }

  .button-container .p-button-sm {
    width: 100%;
  }
}
