<div class="container">
  <div class="header">
    <h2>Lista de Vehículos</h2>
    <div class="actions">
      <input type="text" pInputText placeholder="Buscar..." [(ngModel)]="searchTerm" (input)="filtrarVehiculos()" class="search-box"/>
    </div>
  </div>
  <p-table
    [value]="vehiculosFiltrados"
    [paginator]="true"
    [rows]="5"
    [rowsPerPageOptions]="[5, 10, 20]"
    class="p-datatable-gridlines p-datatable-striped"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>Código Vehículo</th>
        <th>Año Fabricación</th>
        <th>Fecha Último Mantenimiento</th>
        <th>Capacidad de Carga</th>
        <th>Modelo</th>
        <th>Placa</th>
        <th>Fecha Último Viaje</th>
        <th>Estado del Vehículo</th>
        <th>Acciones</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-vehiculo>
      <tr>
        <td>{{ vehiculo.codigoDelVehiculo }}</td>
        <td>{{ vehiculo.anioDeFabricacion }}</td>
        <td>{{ vehiculo.fechaDeUltimoMantenimiento }}</td>
        <td>{{ vehiculo.capacidadDeCarga }}</td>
        <td>{{ vehiculo.modelo }}</td>
        <td>{{ vehiculo.placa }}</td>
        <td>{{ vehiculo.fechaUltimoViaje }}</td>
        <td>{{ vehiculo.estadoDelVehiculo }}</td>
        <td>
          <p-dropdown [options]="estados" [(ngModel)]="vehiculo.estadoDelVehiculo" (onChange)="cambiarEstado(vehiculo)"></p-dropdown>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
