/* Estilos generales */
.container {
  margin: 20px;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 1.2em;
  font-weight: bold;
}

p {
  margin: 5px 0;
  font-size: 0.9em;
}

.section {
  margin-bottom: 20px;
}

.dropdown-section {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 20px;
}

.dropdown-section p-dropdown {
  margin-right: 10px;
}